<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.heydriver.heydriver">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To manage connection to the OBDII ELM327 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.MAPS_RECEIVE" />

    <application
        android:name=".common.Launcher"
        android:allowBackup="true"
        android:icon="@mipmap/icon_driver"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_driver"
        android:supportsRtl="true"
        android:theme="@style/HeyDriverTheme">
        <activity
            android:name=".controller.activities.LoginActivity"
            android:theme="@style/HeyDriverTheme.NoActionBarLogin" />
        <activity
            android:name=".controller.activities.HomeActivity"
            android:label="@string/title_fragment_home"
            android:theme="@style/HeyDriverTheme.NoActionBar" />
        <activity
            android:name=".controller.activities.SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".controller.activities.StartUpActivity"
            android:theme="@style/HeyDriverTheme.NoActionBarLogin" />
        <activity
            android:name=".controller.activities.ConfigActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />
        <activity
            android:name=".controller.activities.LauncherActivity"
            android:theme="@style/HeyDriverTheme.NoActionBarLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.ObdGatewayService"
            android:exported="false"
            android:launchMode="singleInstance" />
        <service
            android:name=".model.MockObdGatewayService"
            android:exported="false"
            android:launchMode="singleInstance" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>