*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/heyDriver/.gradle
/heyDriver/*.iml
/heyDriver/local.properties
/heyDriver/.idea/workspace.xml
/heyDriver/.idea/libraries
/heyDriver/.DS_Store
/heyDriver/build
/heyDriver/captures
/heyDriver/.externalNativeBuild
/heyDriver/.idea/*
/heyDriver/app/build
/heyDriver/gradle/
/heyDriver/gradlew.bat
/heyDriver/app/build/*
*.*~
